<div class="container login-container">
  <div class="registration-block">
    <form [formGroup]="registrationFormGroup" (ngSubmit)="onSignFormSubmit(registrationFormGroup.value)">
      <div class="row">
        <div class="col-6 form-group">
          <label for="fname">First Name:</label>
          <input type="text" class="form-control" id="fname" placeholder="First Name" formControlName="fname">
          <span class="help-block" *ngIf="isValidField(registrationFormGroup,'fname',submitted)">
            <span *ngIf="registrationFormGroup.controls.fname.hasError('required')">
              First name is required.
            </span>
            <span *ngIf="registrationFormGroup.controls.fname.hasError('pattern')">
              First name must be a characters.
            </span>
          </span>
        </div>
        <div class="col-6 form-group">
          <label for="lname">Last Name:</label>
          <input type="text" class="form-control" placeholder="Last Name" formControlName="lname">
          <span class="help-block" *ngIf="isValidField(registrationFormGroup,'lname',submitted)">
            <span *ngIf="registrationFormGroup.controls.lname.hasError('required')">
              Last name is required.
            </span>
            <span *ngIf="registrationFormGroup.controls.lname.hasError('pattern')">
              Last name must be a characters.
            </span>
          </span>
        </div>
        <div class="col-6 form-group">
          <label for="email">Email:</label>
          <input type="email" class="form-control" placeholder="Enter email" formControlName="email">
          <span class="help-block" *ngIf="isValidField(registrationFormGroup,'email',submitted)">
            <span *ngIf="registrationFormGroup.controls.email.hasError('required')">
              Email is required.
            </span>
            <span *ngIf="registrationFormGroup.controls.email.hasError('email')">
              Enter valid email address.
            </span>
            <span *ngIf="registrationFormGroup.controls.email.hasError('maxLength')">
              Email address is too long.
            </span>
          </span>
        </div>
        <div class="col-6 form-group">
          <label for="pwd">Date of Birth:</label>
          <input type="text" placeholder="Date of Birth" class="form-control" formControlName="dob"
            bsDatepicker [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" [ngClass]="{'is-invalid': isValidField(registrationFormGroup,'dob',submitted)}">
          <span class="help-block" *ngIf="isValidField(registrationFormGroup,'dob',submitted)">
            <span *ngIf="registrationFormGroup.controls.dob.hasError('required')">
              Date of birth is required.
            </span>
          </span>
        </div>
        <div class="col-6 form-group">
          <label for="pwd">Gender:</label><br />
          <input type="radio" class="mr-1" id="male" value="male" formControlName="gender">
          <label for="male"> Male</label>
          <input type="radio" class="ml-3 mr-1" id="female" value="female" formControlName="gender">
          <label for="female"> Female</label><br/>
          <span class="help-block" *ngIf="isValidField(registrationFormGroup,'gender',submitted)">
            <span *ngIf="registrationFormGroup.controls.gender.hasError('required')">
              Gender is required.
            </span>
          </span>
        </div>
        <div class="col-6 form-group">
          <label for="pwd">Mobile:</label>
          <input type="text" class="form-control" placeholder="Enter Mobile" formControlName="mobile">
          <span class="help-block" *ngIf="isValidField(registrationFormGroup,'mobile',submitted)">
            <span *ngIf="registrationFormGroup.controls.mobile.hasError('pattern')">
              Mobile number must be numeric.
            </span>
            <span *ngIf="!registrationFormGroup.controls.mobile.hasError('maxLength') || !registrationFormGroup.controls.mobile.hasError('minLength')">
              Mobile number must 10 digits number.
            </span>
          </span>
        </div>
        <div class="col-6 form-group">
          <label for="pwd">City:</label>
          <input type="text" class="form-control" placeholder="Enter City" formControlName="city">
          <span class="help-block" *ngIf="isValidField(registrationFormGroup,'city',submitted)">
            <span *ngIf="registrationFormGroup.controls.city.hasError('required')">
              City is required.
            </span>
            <span *ngIf="registrationFormGroup.controls.city.hasError('pattern')">
              City must be a characters.
            </span>
          </span>
        </div>
        <div class="col-6 form-group">
          <label for="pwd">Address:</label>
          <textarea class="form-control" placeholder="Enter Address" formControlName="address"></textarea>
          <div class="help-block" *ngIf="isValidField(registrationFormGroup,'address',submitted)">
            <div *ngIf="registrationFormGroup.controls.address.hasError('required')">
              Address is required.
            </div>
            <span *ngIf="!registrationFormGroup.controls.address.hasError('maxLength')">
              Address is too long.
            </span>
          </div>
        </div>
        <div class="submit-btn">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </form>
    <div class="registration-result text-center" [ngStyle]="{'color':registration_result ? 'green':'red'}">
      {{registration_msg}}
    </div>
  </div>
</div>