body {
  background-color: #253042;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}

.main-content {
  background-image: url('./assets/images/texture.png');
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  color: #ffffff;
  text-decoration: none;
}

a.active {
  color: #ffffff;
}

.logo img {
  display: block;
  width: 100%;
  max-width: 30px;
}

.registration-block {
  max-width: 700px;
  margin: 50px auto;
  background-color: rgba(34, 34, 34, 0.2);
  padding: 20px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(139, 139, 139, 1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(139, 139, 139, 1);
  box-shadow: 0px 0px 10px 0px rgba(139, 139, 139, 1);
}

.registration-block .submit-btn {
  margin: 0 auto;
}

.help-block {
  color: #ff0000;
  font-size: 13px;
  font-style: italic;
}

.table-block {
  color: #ffffff;
  background-color: #333333;
  padding: 10px 10px 20px;
  font-size: 14px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(139, 139, 139, 1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(139, 139, 139, 1);
  box-shadow: 0px 0px 10px 0px rgba(139, 139, 139, 1);
}

.table-block * {
  background-color: #333333;
  color: #ffffff !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  color: #ffffff !important;
}