body {
  background-color: #253042;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}

.main-content {
  background-image: url('./assets/images/texture.png');
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  color: #ffffff;
  text-decoration: none;
}

a.active {
  color: #ffffff;
}

.logo img {
  display: block;
  width: 100%;
  max-width: 30px;
}